@import "_vars.scss";

.decision-container {
  position: absolute;
  bottom: 60%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.correct-decision {
  text-decoration: underline;
  text-decoration-color: $success;
  text-decoration-thickness: 20%;
  text-underline-position: under;
}

.incorrect-decision {
  text-decoration: underline;
  text-decoration-color: $error;
  text-decoration-thickness: 20%;
  text-underline-position: under;
}