@import "_vars.scss";

.dealer-cards-container {
  opacity: 1;
  display: flex;
  z-index: 100;
  border-radius: 20%;
}

.dealer-cards-container > div {
  margin-left: calc($card-width / -2);
}
 
.dealer-hidden-card {
  margin: 0 !important;
}