@import "_vars.scss";

.dealer-cards {
  opacity: 1;
  position: absolute;
  top: 10%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: $card-width;
  display: flex;
  z-index: 100;
  background-color: #fff;
  border-radius: 20%;
}

.dealer-hidden-card {
  right: -$card-width / 2;
  position: absolute;
  z-index: -1;
}