@import "_vars.scss";

.player-cards-container {
  display: flex;
  position: absolute;
  bottom: 40%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: $card-width;
}

.player-cards-disabled {
  opacity: 0.7
}

.player-cards-container > div {
  margin-left: calc($card-width / -2);
}

.player-cards:first-child{
  margin: 0;
}