@import "_vars.scss";

.player-container {
  position: absolute;
  bottom: 30%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: $card-width;
}

#player-container-2 {
  left: 20%;
}

#player-container-3 {
  right: 20%;
}

.player-turn {
  color: #f00;
}
