@import '_vars.scss';
.card-action-disabled {
  opacity: 0.7;
  cursor: default !important;
}

.card-action-button {
  height: 50px;
  width: 75px;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  cursor: pointer;
}
