@import '_vars.scss';

.card-action-disabled {
  cursor: default !important;
}

.card-action-button {
  height: 50px;
  width: 110px;
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 2px;
}
