.table {
    position: absolute;
    z-index: -1;
    top: -130%;
    left: -12.5%;
    right: 0;
    height: 200vh;
    border-radius: 0 0 100% 100%;
    background-color: #5E4075;
    width: 120vw;
    border: 50px solid #000;
}