@import "_common.scss";

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  // background-image: url("../img/logo.png");
  position: absolute;
  bottom: 20%;
  width: 50vw;
  text-align: center;
  color: #fff;
}

.table-logo {
  font-family: "Pridi";
  font-size: 6em;
}